<div fxLayout="row" 
fxLayout.xs="column" 
fxLayoutAlign="center center"
fxFlexFill class="content">
    <div class="container" fxFlex="40" fxFlex.xs="90">
        <div fxLayout="column" class="boxes-search" >

            <mat-card fxFlex="100" class="search-card">
                <mat-card-header>
                  
                  <mat-card-title>Inicia sesion!</mat-card-title>
                  <mat-card-subtitle>Ingresa tu email y contrasena asi podes usar el sistema</mat-card-subtitle>
                </mat-card-header>
                
                <mat-card-content>
                    <form class="login-form" fxFlex="100" fxLayout="column">
                        <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input type="text" matInput [formControl]="name" >
                        </mat-form-field>
                        <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
                            <mat-label>Contrasena</mat-label>
                            <input type="password" matInput [formControl]="password" >
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <hr>
                <mat-card-actions fxLayout="row" fxLayoutAlign="flex-end center" >
                  
                  <button (click)="login()" color="primary" mat-button>INGRESAR</button>
                </mat-card-actions>
            </mat-card>

          
            
        </div>
    </div>
</div>