<app-toolbar></app-toolbar>
<div fxLayout="row" 
fxLayout.xs="column" 
fxLayoutAlign="center center"
fxFlexFill class="content">
    <div class="container" fxFlex="50" fxFlex.xs="90">
        <div fxLayout="column" class="boxes-search" >

            <mat-card fxFlex="100" color="secondary" class="search-card">
                <mat-card-header>
                  
                  <mat-card-title>Busca tu provincia</mat-card-title>
                  <mat-card-subtitle>Empeza a tipear y elegi tu provincia del menu desplegable</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form class="search-form" fxFlex="100">
                        <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
                            <mat-label>Provincia</mat-label>
                            <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option.nombre}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center" >
                  <span class="info-text"> 
                      <ng-container *ngIf="searched" >
                        {{matches ? matches + ' provincias encontradas' : 'No se han encontrado provincias'}}
                      </ng-container>
                </span>
                  <button (click)="search()" mat-button>FILTRAR</button>
                </mat-card-actions>
            </mat-card>

            <hr>

            <ng-container *ngIf="searched" >
                <app-search *ngFor="let item of filteredProvinces" [place]="item" ></app-search>
            </ng-container>

            
            
        </div>
    </div>
</div>
