.content{
    background-color: rgb(11, 32, 102);
    background: url(../../../assets/images/map-bg.png);
    background-position: center center;
    background-size: cover;
}

.search-form{
    padding: 20px;
}


.boxes-search {
    justify-content: flex-start;
    max-height: 100vh;
    overflow-y: auto;
    padding: 10vh 15px 50px 15px;
}

mat-card-actions .info-text{
    padding: 15px;
    color: #a2cbff;
}

