<mat-toolbar fxLayout="row" 
fxLayoutAlign="space-between center"
 color="primary" >
   
    <span>Api de provincias argentinas</span>
   
    
    <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>