<mat-card fxFlex="100" class="search-card">
    <mat-card-header>
      
      <mat-card-title>{{place?.nombre}}</mat-card-title>
      <mat-card-subtitle>
          <a href="{{googleMapUrl + place.centroide.lat + ',' + place.centroide.lon}}" target="_blank">Link a Google Maps</a> 
            <p>Latitud: {{place.centroide.lat}} | Longitud: {{place.centroide.lon}}</p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <div id="map">
        </div>

        <div class="map-wrapper"  >   
            <iframe [src]="place.centroide | mapSafeUrlPipe" width="100%" height="320" style="border:0;" allowfullscreen="" loading="lazy"></iframe>  
        </div>

    </mat-card-content>

</mat-card>