.search-card{
    margin-bottom: 20px;
    background: #95214f;
}

mat-card-subtitle{
    margin-bottom: 0 !important;
}

mat-card-subtitle a{
    color: white;
}

mat-card-subtitle p{
    margin-top: 15px;
    margin-bottom: 0;
}

iframe{
    border-radius: 5px;
    margin-top: 10px;
}